<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>SW사관학교 정글 | 나홀로 메모장</title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: "Stylish", sans-serif;
            }

            .wrap {
                width: 900px;
                margin: auto;
            }

            .comment {
                color: blue;
                font-weight: bold;
            }

            #post-box {
                width: 500px;
                margin: 20px auto;
                padding: 50px;
                border: black solid;
                border-radius: 5px;

            }
        </style>
        <script>
            $(document).ready(function () {
                // $("#cards-box").html("");
                // showArticles();
                $("#post-box").hide();
            });

            function openClose() {
                // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
                if ($("#post-box").css("display") == "block") {
                    // post-box를 가리고
                    $("#post-box").hide();
                    // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                    $("#btn-post-box").text("포스팅 박스 열기");
                } else {
                    // 아니면(눈에 보이지 않으면) post-box를 펴라
                    $("#post-box").show();
                    // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                    $("#btn-post-box").text("포스팅 박스 닫기");
                }
            }
            //dddd
            function postGourmet() {
                let gourmet = $("#post-title").val();
                $.ajax({
                    type: "POST",
                    url: "/gourmet",
                    data: {gourmet_give : gourmet},
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert('성공!');
                        }
                    }
                })
            }

            function showArticles() {
                $.ajax({
                    type: "GET",
                    url: "/memo",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                        }
                    }
                })
            }

            function makeCard(url, title, desc, comment, image) {

            }
        </script>

    </head>

      <body>
      <div class="wrap">

          <div class="jumbotron">
              <nav class="navbar navbar-default navbar-static-top">
                  <div class="container"  style="display: flex; justify-content: flex-end;">
                      <button type="button" class="btn btn-primary" onclick="openClose()" >추가</button>
                  </div>
              </nav>
              <div id="post-box" class="form-post" style="align-items: center">
                  <h1 class="display-4">Gourmet</h1>
                  <hr class="my-4">
                  <p class="lead">
                  <div>
                  <label for="post-title"></label>
                  <input id="post-title" class="form-control" placeholder="맛집 이름을 입력하세요.">
              </div>
                  <div class="form-group">
                      <label for="post-comment"></label>
                      <input id="post-comment" class="form-control" placeholder="맛집 링크를 입력하세요.">
                  </div>
                  <button type="button" class="btn btn-primary" onclick="postGourmet()">저장하기</button>
              </div>
          </div>

            <div id="cards-box" class="card-columns">
                <div class="card" style="text-align: center">
                    <img class="card-img-top" src="https://cdn.emojidex.com/emoji/seal/%EF%BC%9F.png?1417137872" alt="Placeholder image">

                    <div class="card-deck">
                        <div class="card-body">
                            <a target="_blank" class="card-title">가게 이름</a>
                        </div>
                    </div>
                    <div class="card-column">

                        <div class="card-footer" >
                            <a href="#" class="card-footer-item has-text-info">
                                <button type="button" class="btn btn-primary" onclick=alert('좋아요!')>좋아요!</button>
                            </a>
                            <a href="#" class="card-footer-item has-text-info">
                                <button type="button" class="btn btn-primary" onclick=alert('삭제!')>삭제!</button>
                            </a>
                        </div>
                        <div class="card">
                            <p class="card-text comment">좋아요 개수 : 0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>

</html>