<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <title>WEEK00</title>

    <!-- STYLE -->
    <style type="text/css">
        body {
            background-color: aliceblue;
        }

        * {
            font-family: "Stylish", sans-serif;
        }

        .display-4 {
            text-align: center;
        }

        .wrap {
            width: 70%;
            margin: auto;
        }

        .index-input {
            width: 300px;
        }

        .div-btn {
            margin-top: 0.5rem;
        }

    </style>

    <!-- SCRIPT -->
    <script>
        function login() {
            let id = $("#input-id").val();
            let pw = $("#input-pw").val();

            $.ajax({
                type: "POST",
                url: "/login",
                data: {'id_give': id, 'pw_give': pw},
                success: function (response) { // 성공하면
                    if (response['result'] == 'success') {
                        // alert("로그인 완료!");
                        Swal.fire({
                            icon: 'success',
                            title: '로그인 완료',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(function () {
                            window.location.href = "http://localhost:5000/card"; //will redirect to your blog page (an ex: blog.html)
                        }, 2000); //will call the function after 2 secs.
                        // window.location.href = "http://localhost:5000/card";
                    } else {
                        // alert("로그인 실패!");
                        Swal.fire({
                            icon: 'error',
                            title: '로그인 실패...',
                            text: '아이디와 비밀번호를 확인하세요',
                        })
                        // window.location.reload();
                    }
                }
            })
        }

        function register() {
            let id = $("#create-id").val();
            let pw = $("#create-pw").val();
            let pw2 = $("#check-pw").val();

            id.length === 0 && pw.length === 0 ?
                alert('ID와 비밀번호를 입력해주세요') :
                pw != pw2 ? alert('비밀번호가 서로 다릅니다. 다시 입력해주세요') :
                    $.ajax({
                        type: "POST",
                        url: "/register",
                        data: {'id_give': id, 'pw_give': pw, 'pw2_give': pw2},
                        success: function (response) { // 성공하면
                            if (response["result"] == "success") {
                                alert("회원가입 완료!");
                                window.location.reload();
                            } else {
                                alert("이미 존재하는 ID입니다. 다른 ID를 사용해주세요.")
                            }
                        }
                    })
        }

    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <div id="post-box" class="form-post">
            <h1 class="display-4">JUNGLE ROAD</h1>
            <center>
                <div class="index-input">
                    <div>
                        <label for="input-id" style="text-align: left">ID
                            <input id="input-id" class="form-control" placeholder="아이디를 입력해주세요.">
                        </label>
                    </div>
                    <div>
                        <label for="input-pw" style="text-align: left">PW
                            <input type="password" id="input-pw" class="form-control" placeholder="비밀번호를 입력해주세요.">
                        </label>
                    </div>

                    <div class="div-btn">
                        <button onclick="login()" type="button" class="btn btn-primary">로그인</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            회원가입
                        </button>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">회원가입하기</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="create-id">ID</label>
                <input id="create-id" class="form-control" placeholder="아이디를 입력해주세요.">
                <label for="create-pw">PW</label>
                <input type="password" id="create-pw" class="form-control" placeholder="비밀번호를 입력해주세요.">
                <label for="check-pw">PW</label>
                <input type="password" id="check-pw" class="form-control" placeholder="비밀번호를 다시 입력해주세요.">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button onclick="register()" type="button" class="btn btn-danger">완료</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>